{% extends 'base.html' %}

{% block title %} {{info.name}}  {% endblock %}

{% block content %}

<div class="container bg-light">

<div class="col-md-5 offset-sm-4">
<form method="POST" action="/login">
    {{ form.hidden_tag( ) }}
 <div class="form-group row">
	<div class="col-sm-2"> {{ form.name.label }} </div>
	<div class="col-sm-10"> {{ form.name(size=20, class_='form-control') }} </div>
</div>

<div class="form-group row">
        <div class="col-sm-2"> {{ form.password.label }} </div>
	<div class="col-sm-10"> {{ form.password(size=20, class_='form-control') }} </div>
</div>

<div class='form-group row'>
    <input type="submit" value="Go" class="btn btn-success">
</div>

</form>
</div>

</div>

{% endblock %}
